<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>LSSupportsOpeningDocumentsInPlace</key>
    <true/>
    <key>NSCameraUsageDescription</key>
    <string>Access to the camera is needed for taking photos, which will be stored in the app in connection with issues.</string>
    <key>NSDocumentsFolderUsageDescription</key>
    <string>Access to the camera is needed for taking photos, which will be stored in the app in connection with issues.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>The access to the photo library is needed, when photos from the app are exported to the library or when photos from the library are assigned to an issue.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
